header { margin-top: 0.75em ; margin-bottom: 0.75em ; }
footer { background-color: #24292e; color: hsla(0,0%,100%,.7); padding-top: 0.75em ; padding-bottom: 0.75em ; }

div.actionBar { padding-top: 1em ; }
i.icon { margin-right: 0.5em; }