{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% trans "en" %}">
    <head>
        <meta charset="UTF-8">
        <title>{% trans "MyPharmacy Index" %}</title>
        <link rel="icon" type="image/x-icon" href="{% static 'inventory/favicon.ico' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" integrity="sha256-ebN46PPB/s45oUcqLn2SCrgOtYgVJaFiLZ26qVSqI8M=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/ionicons-2.0.1/css/ionicons.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/inventory.css' %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" integrity="sha256-y0EpKQP2vZljM73+b7xY4dvbYQkHRQXuPqRjc7sjvnA=" crossorigin="anonymous"></script>
        <script src="{% static 'inventory/js/cookieconsent_config.js' %}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1>{% trans "MyPharmacy Inventory" %}</h1>
            </div>
            {% block header %}{% endblock %}
            {%  include "core/header_messages.html" %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            {%  include "core/footer.html" %}
        </footer>
    </body>
</html>
