{% extends "public/global.html" %}
{% load i18n %}
{% load model_name %}

{% block header %}
    {% include "core/header_actions_and_filters.html" %}
    {% include "core/header_search.html" %}
{% endblock %}

{% block content %}
    <div class="container">
    {% if all_stock %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{% trans "Item" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Expires" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Status" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Amount" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Type" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%"></th>
                    <th class="text-center" scope="col" style="width: 8.33%"></th>
                </tr>
            </thead>
            <tbody>
                {% for stock in all_stock %}
                    <tr>
                        <td>{{ stock.type.name }}</td>
                        <td class="text-center">
                            {{ stock.expirationDate | date:"d-m-Y" }}
                        </td>
                        {% if stock.is_expired %}
                            <td class="text-center table-danger"><span title="{%  trans 'Expired !' %}"><i class="ion-close-circled" ></i></span></td>
                        {% else %}
                            <td class="text-center table-success"><span title="{%  trans 'Not expired' %}"><i class="ion-checkmark-circled" ></i></span></td>
                        {% endif %}
                        <td class="text-center">{{ stock.amount }}</td>
                        <td class="text-center table-dark">
                            <span title="{{ stock | to_class_name }}"><i class="{{ stock | get_icon_for_class }}"></i></span>
                        <td class="text-center table-secondary">
                            <i class="ion-android-add"></i>
                        </td>
                        <td class="text-center table-secondary">
                            <i class="ion-android-remove"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No medicine in the pharmacy</p>
    {% endif %}
    </div>
{% endblock %}
