{% extends "public/global.html" %}
{% load i18n %}
{% load model_name %}

{% block header %}
    {% include "core/header_actions_and_filters.html" %}
    {% include "core/header_search.html" %}
{% endblock %}

{% block content %}
    <div class="container">
    {% if all_stock %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{% trans "Item" %}</th>
                    <th class="text-center" scope="col" style="width: 11.33%">{% trans "Expires" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Status" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Amount" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%">{% trans "Type" %}</th>
                    <th class="text-center" scope="col" style="width: 8.33%"></th>
                    <th class="text-center" scope="col" style="width: 8.33%"></th>
                </tr>
            </thead>
            <tbody>
                {% for stock in all_stock %}
                    <tr>
                        <td>
                            {{ stock.type.name }}
                            {% if stock.validity is not None %}
                                {% if stock.openedDate is None %}
                                    <span title="{% trans 'Open' %}"><a href="#"><i class="ion-share" ></i></a></span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ stock.expirationDate | date:"d-m-Y" }}
                        </td>
                        {% if stock.is_medicine_expired %}
                            {% if stock.validity is not None %}
                                <td class="text-center table-danger"><span title="{% trans 'Expired after opening' %}"><i class="ion-clock" ></i></span></td>
                            {% else %}
                                <td class="text-center table-danger"><span title="{% trans 'Expired' %}"><i class="ion-close" ></i></span></td>
                            {% endif %}
                        {% else %}
                            {% if stock.validity is not None and stock.openedDate is not None %}
                                <td class="text-center table-success"><span title="{% blocktrans with opened_date=stock.openedDate|date:"d-m-Y" validity=stock.validity%}Opened on {{ opened_date }}, expires after {{ validity }} days{% endblocktrans %}"><i class="ion-clock" ></i></span></td>
                            {%  else %}
                                <td class="text-center table-success"><span title="{% trans 'Expires ' %}{{ stock.expirationDate | date:"d-m-Y" }}"><i class="ion-checkmark" ></i></span></td>
                            {% endif %}
                        {% endif %}
                        <td class="text-center">{{ stock.amount }}</td>
                        <td class="text-center table-dark">
                            <span title="{{ stock | to_class_name }}"><i class="{{ stock | get_icon_for_class }}"></i></span>
                        <td class="text-center table-secondary">
                            <i class="ion-android-add"></i>
                        </td>
                        <td class="text-center table-secondary">
                            <i class="ion-android-remove"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No medicine in the pharmacy" %}</p>
    {% endif %}
    </div>
{% endblock %}
